<div class="container mt-5">
  <div class="alert alert-success" role="alert" *ngIf="formSent">
    Dados enviados com sucesso
  </div>
  <h2>Alugue o seu imóvel</h2>
  <form [formGroup]="formGroup" class="d-flex flex-column">
    <label for="type" class="form-label mt-3">Tipo de imóvel</label>
    <select id="type" class="form-select" formControlName="propertyType">
      <option>Casa</option>
      <option>Apartamento</option>
    </select>

    <label for="description" class="form-label mt-3">Descrição</label>
    <textarea
      class="form-control"
      id="description"
      formControlName="description"
    ></textarea>

    <label for="price" class="form-label mt-3">Valor do imóvel</label>
    <input class="form-control" id="price" formControlName="price" />

    <label for="phone" class="form-label mt-3">Telefone para contato</label>
    <input class="form-control" id="phone" formControlName="phone" />

    <button
      type="button"
      class="btn btn-dark btn-lg mt-3"
      [disabled]="formSent"
      (click)="save()"
    >
      Salvar
    </button>
  </form>
</div>
