<header class="header d-flex justify-content-between align-items-center">
  <a class="header__link" routerLink="/">Solid Principles</a>
  <ul class="header__menu d-flex">
    <li>
      <a class="header__link" routerLink="/single-responsibility-principle">SRP</a>
    </li>
    <li>
      <a class="header__link" routerLink="/open-closed-principle">OCP</a>
    </li>
    <li>
      <a class="header__link" routerLink="/liskov-substitution-principle">LSP</a>
    </li>
    <li>
      <a  class="header__link" routerLink="/interface-segregation-principle">ISP</a>
    </li>
    <li>
      <a class="header__link" routerLink="/dependency-inversion-principle">DIP</a>
    </li>
  </ul>
</header>

<router-outlet></router-outlet>
