<div class="container mt-5">
  <div class="mt-5">
    <h2 class="mb-3">Conheça nossos consultores</h2>
    <div class="row">
      <div *ngFor="let user of consultants" class="col-lg-4 col-12 d-flex mb-5">
        <img [src]="user.avatar" />
        <div class="user__info ms-2">
          <h5>{{ user.first_name }} {{ user.last_name }}</h5>
          <p>{{ user.email }}</p>
          <a
            href="https://wa.me/553499999999?text={{ message }}"
            target="blank"
          >
            <button class="btn btn-dark" (click)="setMessage(user.first_name)">
              Entrar em contato
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
