<div class="container">
  <h4 class="mt-5">The SOLID Principles are:</h4>
  <ul>
    <li>
      <h5>Single Responsibility Principle - SRP</h5>
      <p>
        A class should have one and only one reason to change, meaning that a
        class should have only one job.
      </p>
    </li>
    <li>
      <h5>Open-Closed Principle - OCP</h5>
      <p>
        Objects or entities should be open for extension but closed for
        modification.
      </p>
    </li>
    <li>
      <h5>Liskov Substitution Principle - LSP</h5>
      <p>
        Let ϕ(x) be a property provable about objects of x of type T. Then ϕ(y)
        should be provable for objects y of type S where S is a subtype o
      </p>
    </li>
    <li>
      <h5>Interface Segregation Principle - ISP</h5>
      <p>
        A client should never be forced to implement an interface that it
        doesn’t use, or clients shouldn’t be forced to depend on methods they do
        not use.
      </p>
    </li>
    <li>
      <h5>Dependency Inversion Principle - DIP</h5>
      <p>
        Entities must depend on abstractions, not on concretions. It states that
        the high-level module must not depend on the low-level module, but they
        should depend on abstractions.
      </p>
    </li>
  </ul>

  <p>
    See examples of correct and wrong implementation on
    <a
      href="https://github.com/marcelapereirads/solid-principles/tree/master/src"
      target="blank"
      >my Github project</a
    >
    .
  </p>
</div>
