<div class="container mt-5">
  <div class="row">
    <button
      class="btn btn-dark btn-lg col-6 tabs__link"
      [ngClass]="{ 'tabs__link--active': tabActive === RENT }"
      (click)="changeTab(RENT)"
    >
      Rent
    </button>
    <button
      class="btn btn-dark btn-lg col-6 tabs__link"
      [ngClass]="{ 'tabs__link--active': tabActive === SALE }"
      (click)="changeTab(SALE)"
    >
      Sale
    </button>
  </div>
</div>

<!-- const -->
<app-rent *ngIf="tabActive === RENT"></app-rent>
<app-sale *ngIf="tabActive === SALE"></app-sale>
