.tabs__link {
  background-color: #414950;
  border: none;

  &:first-child {
    border-radius: 0.3rem 0 0 0.3rem;
  }

  &:last-child {
    border-radius: 0 0.3rem 0.3rem 0;
  }

  &:focus {
    box-shadow: none;
  }

  &--active {
    background-color: #212529;
  }
}
